<section class="events-hero">
    <div class="events-hero-content">
        <nav class="events-secondary-nav">
            {{ theme.do_echo('tribe_get_template_part','modules/bar') }}
            <div class="newsletter-signup"><a href="{{ site.link }}/public-events-newsletter/">Subscribe to the Williams Events Newsletter</a></div>
        </nav>
    </div>
</section> <!-- .events-hero -->
