{% extends 'base.twig' %}
{% block content %}
    <div id="tribe-events-pg-template" class="tribe-events-pg-template tribe-view-default">
        {{ theme.do_echo('tribe_events_before_html') }}
        {{ theme.do_echo('tribe_get_view') }}
        {{ theme.do_echo('tribe_events_after_html') }}
    </div> <!-- #tribe-events-pg-template -->
{% endblock %}
